.post__image {
    width: 100%;
    object-fit: contain;
    border-top: 0.5px solid #eff2f2;
    border-bottom: 0.5px solid #eff2f2;
}

.post__action-button {
    transition: all 100ms ease-in-out;
    &:hover {
        opacity: 0.8;
    }
}
.whatsOnYourMind-active {
    color: #5664d2;
}
